body{
	margin: 0px;
	padding: 0px;
	background-color: black;
}

.page{
	width: 100%;
	min-height: 800px;
	color: white;
}

img {
	display: block;
	margin: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	width: 10em;
    max-width: 50em;
}

img:hover {
	opacity: 0.5;
	width: 80%;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.navigation{
	position: top;
	position: fixed;
	top: 0;
	width: 100%;
	height: 2.5em;
	font-size: 200%;
	background-color: rgb(245, 245, 245);
	color: black;
}

.navigation_image{
	color:red; 
	margin:auto;
	text-align:center;
}

.navigation_buttons{
	transition: all 2s ease-out;
	margin-left: 1em;
	margin-right: 1em;
	text-align: center;
	background-color: rgb(245, 245, 245);
	float: left;
}

.navigation_buttons:hover{
	transform: rotate(5deg) scale(0.8);
	color: white;
	cursor: pointer;
	background-color: black;
}

.navigation_a{
	text-decoration: none;
	color:black;
}

.navigation_a:hover{
	color: white;
}

.menu{
	font-size: 180%;
	margin-top: 5em;
	float: left;
	width: 20%;
	//min-height: 700px;
	text-align: center;
}

.menu_a{
	text-decoration: none;
	color:white;
}

.menu_buttons:hover{
	cursor: pointer;
	border-bottom: 0.1em solid white;
}

.content{
	width: 70%;
	min-height: 700px;
	padding-left: 10em;
	margin: 10em;
}

.redactor{
	width: 90%;
	min-height: 700px;
	margin-top: 10em;
	margin-left: 1em;
	margin-right: 1em;
}

.footer{
	width: 110%;
	text-align: center;
	border-top: 0.2em solid white;
}
